@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
@import url(basic.css);
@import url(prism.css);

html {
	font-family: 'Roboto Slab', serif;
    font-weight: 300;
	font-size: 32px;
}

body {
	margin: 0;
	min-width: 800px;
	background: #F2F1EF;
}

.site {
	display: block;
	font-size: 18px;
	line-height: 1rem;
	margin: 2rem 6% 3.5rem;
	color: #2C3E50;
}

.site__header {
	margin-bottom: 3.5rem;
}

.header__title {
	font-size: 1em;
	margin: 0;
}

.site__content {
	display: block;
	max-width: 880px;
	margin-bottom: 5rem;
	width: 70%;
}

.post {
	margin-bottom: 4rem;
}

.post__header {
	margin:  0 0 1rem 0;
	color: #DB0A5B;
}

.post__anchor {
	display: none;
	border: none;
	width: 1rem;
	margin-right: -1rem;
    text-align: center;
}

.post__anchor::after {
	content: '#';
}

.post__header:hover .post__anchor {
	display: inline-block;
}

.post__title {
    font-size: 1em;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2ex;
}

.post__date {
	display: block;
	opacity: 0;
	transition: opacity 0.2s;
}

.post__date::after {
	content: '\200B';
}

.post__date_humanized {
	opacity: 1;
}

aside {
	float: right;
	width: 33%;
	margin-right: -43%;
	font-size: 16px;
}

.project-link {
	display: inline-block;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
	border: none;
	margin: 0.5rem 0 1.5rem;
	transition: box-shadow 0.2s;
}

.project-link:hover {
	box-shadow: 0 0.5rem 2rem rgba(76, 20, 13, 0.6);
}

.project-link:active {
	box-shadow: 0 0.5rem 1.5rem rgba(76, 20, 13, 0.6);
}

.spoiler__toggle {
	margin-top: 0;
	transition: padding 0.5s;
}

.spoiler__toggle a {
	border-style: dashed;
}

.spoiler__toggle_expanded {
	padding: 0.5rem 0.5rem 0;
	border-top: 1px dotted rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem 0.5rem 0 0;
}

.spoiler__toggle_expanded a {
	color: #000;
	border: none;
}

.spoiler__content {
	display: none;
	padding: 0 0.5rem 0.5rem;
	margin-bottom: 1rem;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	border-radius: 0 0 0.5rem 0.5rem;
}

.footer::before {
	content: '—';
	display: block;
	font-size: 18px;
	font-weight: normal;
}